<div id="job_actions">
    <h3>Admin</h3>
    <ul>
        {% if not job.isActive %}
            <li><a href="{{ path('job_edit', { 'token': job.token }) }}">{{ "edit" | trans }}</a></li>
        <li><a href="{{ path('job_publish', { 'token': job.token }) }}">Publish</a></li>
        {% endif %}
        {% if not job.isActive %}
            <li><a href="{{ path('job_edit', { 'token': job.token }) }}">Edit</a></li>
            <li>
                <form action="{{ path('job_publish', { 'token': job.token }) }}" method="post">
                    {{ form_widget(publish_form) }}
                    <button type="submit">{{ "publish" | trans }}</button>
                </form>
            </li>
        {% endif %}
        <li>
            <form action="{{ path('job_delete', { 'token': entity.token }) }}" method="post">
                <button type="submit" onclick="if(!confirm('{{ "are_you_sure" | trans }}')) { return false; }">{{ "delete" | trans }}</button>
            </form>
        </li>
        {% if entity.isActive %}
            <li {% if entity.expiresSoon %} class="expires_soon" {% endif %}>
                {% if entity.isExpired %}
                    {{ "expired" | trans }}
                {% else %}
                    {{ "expires_in_cnt_days" | trans({'%count%': '<strong>' ~ entity.getDaysBeforeExpires ~ '</strong>'}) | raw }}
                {% endif %}

                {% if job.expiresSoon %}
                    <form action="{{ path('job_extend', { 'token': job.token }) }}" method="post">
                        {{ form_widget(extend_form) }}
                        <button type="submit">{{ "extend" | trans }}</button>{{ "for_another_30_days" | trans }}
                    </form>
                {% endif %}
            </li>
        {% else %}
            <li>
                [
                {{ "bookmark_this_url" | trans({'%url%': '<a href="' ~ url(
                    'job_preview', {
                        'token': job.token,
                        'company': job.companyslug,
                        'location': job.locationslug,
                        'position': job.positionslug
                    }) ~ '">URL</a>'}) }}
                ]
            </li>
        {% endif %}
    </ul>
</div>
