{% extends '::layout.html.twig' %}

{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block form_errors %}
    {% spaceless %}
        {% if errors | length > 0 %}
            <ul>
                {% for error in errors %}
                    <li>{{ error.messageTemplate | trans(error.messageParameters, 'validators') }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('css/jobs.css') }}">#}
    <style>
        .form-group:after {
            clear: both;
            content: '';
            display: table;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{{ "job_edit" | trans }}</h1>
    <form action="{{ path('job_update', { 'token': entity.token }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_errors(edit_form) }}
        {{ form(edit_form, {'attr': {'class': 'col-md-8 col-md-offset-2'}}) }}
        {#<table id="job_form">#}
            {#<tfoot>#}
            {#<tr>#}
                {#<td colspan="2">#}
                    {#<input type="submit" value="Preview your job">#}
                {#</td>#}
            {#</tr>#}
            {#</tfoot>#}
            {#<tbody>#}
            {#<tr>#}
                {#<th>{{ form_label(edit_form.category) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(edit_form.category) }}#}
                    {#{{ form_widget(edit_form.category) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(edit_form.type) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(edit_form.type) }}#}
                    {#{{ form_widget(edit_form.type) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(edit_form.company) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(edit_form.company) }}#}
                    {#{{ form_widget(edit_form.company) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(edit_form.file) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(edit_form.file) }}#}
                    {#{{ form_widget(edit_form.file) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(edit_form.url) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(edit_form.url) }}#}
                    {#{{ form_widget(edit_form.url) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(edit_form.position) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(edit_form.position) }}#}
                    {#{{ form_widget(edit_form.position) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(edit_form.location) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(edit_form.location) }}#}
                    {#{{ form_widget(edit_form.location) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(edit_form.description) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(edit_form.description) }}#}
                    {#{{ form_widget(edit_form.description) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(edit_form.how_to_apply) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(edit_form.how_to_apply) }}#}
                    {#{{ form_widget(edit_form.how_to_apply) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(edit_form.public) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(edit_form.public) }}#}
                    {#{{ form_widget(edit_form.public) }}#}
                    {#<br>{{ "can_be_pub_on_aff" | trans }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(edit_form.email) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(edit_form.email) }}#}
                    {#{{ form_widget(edit_form.email) }}#}
                {#</td>#}
            {#</tr>#}
            {#</tbody>#}
        {#</table>#}

        {{ form_rest(edit_form) }}
        <div class="clearfix"></div>
    </form>
{% endblock %}
