{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <div id="jobs">
        {% for category in categories %}
            <div>
                <div class="category_{{ category.slug }}">

                    <h1 class="col-md-10"><a href="">{{ category.name }}</a></h1>
                    <div class="feed col-md-2">
                        <a href="{{ path('category_show', { 'slug': category.slug, '_format': 'atom' }) }}"><h3>{{ "feed" | trans }}</h3></a>
                    </div>
                    <div class="clearfix"></div>

                    {{ include (':job:list.html.twig', {'jobs': category.activejobs}) }}

                    {% if category.morejobs %}
                        <div class="more_jobs">
                            {{ "and_cnt_more" | trans({'%count%': '<a href="' ~ path('category_show', {'slug': category.slug}) ~ '">' ~ category.morejobs ~ '</a>'}) | raw }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
