<table class="table table-striped text-center">
    {% for entity in jobs %}
        <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
            <td class="location">{{ entity.location }}</td>
            <td class="position">
                <a href="{{ path('job_show', { 'id': entity.id, 'company': entity.company, 'location': entity.location, 'position': entity.position }) }}">
                    {{ entity.position }}
                </a>
            </td>
            <td class="company">{{ entity.company }}</td>
        </tr>
    {% endfor %}
</table>
{% if last_page is defined and last_page > 1 %}
    <div class="pagination">
        <a href="{{ path('job_search', { 'page': 1 }) ~ '?keywords=' ~ keyword }}">
            <img src="{{ asset('images/first.png') }}" alt="First page" title="First page" />
        </a>

        <a href="{{ path('job_search', { 'page': previous_page }) ~ '?keywords=' ~ keyword  }}">
            <img src="{{ asset('images/previous.png') }}" alt="Previous page" title="Previous page" />
        </a>

        {% for page in 1..last_page %}
            {% if page == current_page %}
                {{ page }}
            {% else %}
                <a href="{{ path('job_search', { 'page': page }) ~ '?keywords=' ~ keyword  }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        <a href="{{ path('job_search', { 'page': next_page }) ~ '?keywords=' ~ keyword  }}">
            <img src="{{ asset('images/next.png') }}" alt="Next page" title="Next page" />
        </a>

        <a href="{{ path('job_search', { 'page': last_page }) ~ '?keywords=' ~ keyword  }}">
            <img src="{{ asset('images/last.png') }}" alt="Last page" title="Last page" />
        </a>
    </div>
{% endif %}
