{% extends '::layout.html.twig' %}

{#{% form_theme form _self %}#}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block form_errors %}
    {% spaceless %}
        {% if errors | length > 0 %}
            <ul class="error_list">
                {% for error in errors %}
                    <li>
                        {{ error.messageTemplate | trans(error.messageParameters, 'validators') }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('css/jobs.css') }}">#}
    <style>
        .form-group:after{
            clear: both;
            content: '';
            display: table;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{{ "job_creation" | trans }}</h1>
    <form action="{{ path('job_new') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form(form, {'attr': {'class': 'col-md-8 col-md-offset-2'}}) }}
        {#<table id="job_form" class="col-md-8 col-md-offset-2">#}
            {#<tbody>#}
            {#<tr>#}
                {#<th>{{ form_label(form.category) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(form.category) }}#}
                    {#{{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(form.type) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(form.type) }}#}
                    {#{{ form_widget(form.type) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(form.company) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(form.company) }}#}
                    {#{{ form_widget(form.company, {'attr': {'class': 'form-control'}}) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(form.file) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(form.file) }}#}
                    {#{{ form_widget(form.file, {'attr': {'class': 'btn btn-default btn-file'}}) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(form.url) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(form.url) }}#}
                    {#{{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(form.position) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(form.position) }}#}
                    {#{{ form_widget(form.position, {'attr': {'class': 'form-control'}}) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(form.location) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(form.location) }}#}
                    {#{{ form_widget(form.location, {'attr': {'class': 'form-control'}}) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(form.description) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(form.description) }}#}
                    {#{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(form.how_to_apply) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(form.how_to_apply) }}#}
                    {#{{ form_widget(form.how_to_apply, {'attr': {'class': 'form-control'}}) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(form.public) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(form.public) }}#}
                    {#{{ form_widget(form.public) }}#}
                    {#<br> {{ "can_be_pub_on_aff" | trans }}#}
                {#</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>{{ form_label(form.email) }}</th>#}
                {#<td>#}
                    {#{{ form_errors(form.email) }}#}
                    {#{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}#}
                {#</td>#}
            {#</tr>#}
            {#<tfoot>#}
            {#<tr>#}
                {#<td colspan="2">#}
                    {#<br>#}
                    {#<button type="submit" class="btn btn-default pull-right">Submit</button>#}
                    {#<br><br><br>#}
                {#</td>#}
            {#</tr>#}
            {#</tfoot>#}
            {#</tbody>#}
        {#</table>#}
        {{ form_rest(form) }}
    </form>
{% endblock %}
