{% extends ':job:index.html.twig' %}

{% block content %}
    <div id="jobs">
        {% include 'job/list.html.twig' with {'jobs': pageInfo.jobs, 'last_page' : pageInfo.last_page, 'previous_page' : pageInfo.previous_page, 'current_page' : pageInfo.current_page, 'next_page' : pageInfo.next_page, 'total_jobs' : pageInfo.total_jobs, 'keyword' : keyword,} %}
    </div>
{% endblock %}
