{% extends '::layout.html.twig' %}

{% block title %}
    {% trans with {'%category%': category.name} %}Jobs in the %category% category{% endtrans %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('css/jobs.css') }}" type="text/css" media="all" />#}
{% endblock %}

{% block content %}

    <div class="category">
        <h1 class="col-md-10"><a href="">{{ category.name }}</a></h1>
        <div class="feed col-md-2">
            <a href="{{ path('category_show', { 'slug': category.slug, '_format': 'atom' }) }}"><h3>{{ "feed" | trans }}</h3></a>
        </div>
    </div>

    <div class="clearfix"></div>

    {{ include (':category:list_category.html.twig', {'jobs': category.activejobs, 'keyword' : ''}) }}

    <div class="pagination_desc col-md-6">
        {% transchoice pageInfo.total_jobs with {'%count%': '<strong>' ~ pageInfo.total_jobs ~ '</strong>'} %}
        {0} No job in this category|{1} One job in this category|]1,Inf] %count% jobs in this category
        {% endtranschoice %}

        {% if pageInfo.last_page > 1 %}
            - page <strong>{{ pageInfo.current_page }}/{{ pageInfo.last_page }}</strong>
        {% endif %}
    </div>

    {% if pageInfo.last_page > 1 %}
        <div class="pagination col-md-6 text-right">
            <a href="{{ path('category_show', { 'page': 1, 'slug': category.slug }) }}">
                <img src="{{ asset('images/first.png') }}" alt="First page" title="First page" />
            </a>

            <a href="{{ path('category_show', { 'page': pageInfo.previous_page, 'slug': category.slug }) }}">
                <img src="{{ asset('images/previous.png') }}" alt="Previous page" title="Previous page" />
            </a>

            {% for page in 1..pageInfo.last_page %}
                {% if page == pageInfo.current_page %}
                    {{ page }}
                {% else %}
                    <a href="{{ path('category_show', { 'page': page, 'slug': category.slug }) }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            <a href="{{ path('category_show', { 'page': pageInfo.next_page, 'slug': category.slug }) }}">
                <img src="{{ asset('images/next.png') }}" alt="Next page" title="Next page" />
            </a>

            <a href="{{ path('category_show', { 'page': pageInfo.last_page, 'slug': category.slug }) }}">
                <img src="{{ asset('images/last.png') }}" alt="Last page" title="Last page" />
            </a>
        </div>
    {% endif %}

{% endblock %}
