<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            {{ "your_best_job_board"|trans }}
        {% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/atom+xml" title="Latest Jobs" href="{{ url('job_index', {'_format': 'atom'}) }}" />
    {% block stylesheets %}
        {#<link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css" media="all" />#}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" media="all" />
    {% endblock %}
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="container" class="col-md-10 col-md-offset-1">
    <div id="header" >
        <div class="content">

            <h1><a href="{{ path('jobeet_homepage') }}">Jobeet</a></h1>

            <div id="sub_header">
                <div class="post">
                    <div>
                        <a href="{{ path('job_new') }}"><button type="button" class="btn btn-primary btn-lg pull-right">{{ "post_a_job" | trans }}</button></a>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="search">
                    <h3>{{ "ask_for_job" | trans }}</h3>
                    <form action="{{ path('job_search') }}" method="get">
                        <input type="text" name="keywords" class="form-control" id="search_keywords">
                        <div class="help text-muted text-center">
                            {{ "enter_some_keywords"|trans }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg pull-right" value="search">Search</button>
                        <img id="loader" src="{{ asset('images/loader.gif') }}" style="vertical-align: middle; display: none" />
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div id="job_history" class="col-md-10 col-md-offset-1">
        <h4 class="text-success">{{ "recent_viewed_jobs" | trans }}</h4>
        <ul class="list-inline">
            {% for job in app.session.get('job_history') %}
                <li>
                    <a href="{{ path('job_show', { 'id': job.id, 'company': job.companyslug, 'location': job.locationslug, 'position': job.positionslug }) }}">{{ job.position }} - {{ job.company }}</a>
                </li>
            {% endfor %}
            <div class="clearfix"></div>
        </ul>
    </div>

    <div class="clearfix"></div>

    <div id="content">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash_notice">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash_error">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <br><br>
    <div id="footer">
        <div class="content">
           <span class="symfony col-md-3 text-center">
               <h5 class="text-center">Jobeet, {{ "powered_by" | trans }} <a href="http://www.symfony.com/">Symfony</a></h5>
           </span>
            <ul class="list-inline col-md-6 text-center">
                <li><a href="">{{ "about_jobeet" | trans }}</a></li>
                <li class="feed"><a href="{{ path('job_index', {'_format': 'atom'}) }}">{{ "full_feed" | trans }}</a></li>
                <li><a href="{{ path('restapi_job') }}">{{ "jobeet_api" | trans }}</a></li>
                <li class="last"><a href="{{ path('affiliate_new') }}">{{ "affiliates" | trans }}</a></li>
                <li class="subscriber"><a href="{{ path('subscribe_new') }}">{{ "subscribe" | trans }}</a></li>
            </ul>
            <form action="{{ path('change_language') }}" method="get" class="col-md-3">
                <label for="" class="text-muted">{{ "language" | trans }}</label>
                <select name="language" id="language" class="selectpicker">
                    <option value="en" {% if app.request.get("_locale") == 'en' %}selected{% endif %}>English</option>
                    <option value="fr" {% if app.request.get("_locale") == 'fr' %}selected{% endif %}>Français</option>
                </select>
                <button type="submit" class="btn btn-primary btn-sm" value="OK">OK</button>
            </form>
        </div>
    </div>
    <br><br><br><br>
</div>
</body>
</html>
