{% extends "::layout.html.twig" %}

{% block content %}
    <div class="content">
        <h1>{{ "aff_acc_created" | trans }}</h1>
        <div style="padding: 20px">
            {{ "rec_aff_token" | trans }}
        </div>
    </div>
{% endblock %}
