<html>
<head>
    <title>title</title>
</head>
<body>
<h1>Your Newsletter</h1>
{% for key, category in jobs %}
    <h2>{{ key }}</h2>
    <ul>
        {% for job in category %}
            <li>{{ job.getPosition }}</li>
        {% endfor %}
    </ul>
{% endfor %}
</body>
</html>