{% extends '::layout.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="error_list">
                {% for error in errors %}
                    <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/job.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <h1>{{ "become_an_subscribe" | trans }}</h1>
<form action="{{ path('subscribe_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form(form, {'attr': {'class': 'col-md-8 col-md-offset-2'}}) }}
    {#<table id="job_form">#}
        {#<tfoot>#}
        {#<tr>#}
            {#<td colspan="2">#}
                {#<input type="submit" value="Submit" />#}
            {#</td>#}
        {#</tr>#}
        {#</tfoot>#}
        {#<tbody>#}
        {#<tr>#}
            {#<th>{{ form_label(form.email) }}</th>#}
            {#<td>#}
                {#{{ form_errors(form.email) }}#}
                {#{{ form_widget(form.email) }}#}
            {#</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<th>{{ form_label(form.periodicity) }}</th>#}
            {#<td>#}
                {#{{ form_errors(form.periodicity) }}#}
                {#{{ form_widget(form.periodicity) }}#}
            {#</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<th>{{ form_label(form.categories) }}</th>#}
            {#<td>#}
                {#{{ form_errors(form.categories) }}#}
                {#{{ form_widget(form.categories) }}#}
            {#</td>#}
        {#</tr>#}
        {#</tbody>#}
    {#</table>#}
    {{ form_end(form) }}
{% endblock %}